<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-education">TheDeveloper'sDiary</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"> Home</a></li>
        <li class="active"><a href="/"><span class="glyphicon glyphicon-phone-alt"> Contact</a></li>
    </ul>
    <% unless user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    <% end %>
  </div>
</ul>
</div>
</nav>
  <div class="container">
    <% if user_signed_in? %>
      Welcome! <%= current_user.name %> || <%= link_to "Account Settings", edit_user_registration_path %> || <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>

    <div class="blog-header">
      <h1 class="blog-title">The Developer's Diary</h1>
      <p class="lead blog-description">New articles every week</p>
    </div>

    <div class="row">
      <%= yield %>

      <% unless ['registrations', 'sessions', 'passwords'].include? controller.controller_name %>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
              <% Category.all.each do |category|%>
                <li><a href="#"><%= category.name %></a></li>
              <% end %>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Comments</h4>
            <ol class="list-unstyled">
              <li><a href="#">To Be Done</a></li>
            </ol>
          </div>
        </div>
      <% end %>

    </div>
  </div>

</body>
</html>
